<launch>


    <node name="uwb_location_node" pkg="uwb_location" type="uwblocating" output="screen">
        <!-- 0_fixed_anchor_pos, 1_auto_position, 2_moving_anchors -->
        <param name="AutopositionMode" type="int" value="0" />
        <!-- 1_trilaterationMethod, 2_leastSquaresMethod -->
        <param name="TagpositionMode" type="int" value="2" />

        <param name="anchor1_pos" value="/robot_0/Odometry" />
        <param name="anchor2_pos" value="/robot_3/Odometry" />
        <param name="anchor3_pos" value="/robot_4/Odometry" />
        <param name="anchor4_pos" value="/robot_5/Odometry" />
    </node>
</launch>
